*{
  margin: 0;
  padding: 0;
}

.cotnainerTasks {
  background-color: #555;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.appTasks {
  background-color: #292f38;
  width: 25%;
  min-width: 450px;
  height: 500px;
  padding: 30px;
  margin-right: 20px;
  border-radius: 5px;
}
.appDetails {
  background-color: #292f38;
  width: 15%;
  min-width: 350px;
  height: 300px;
  padding: 20px;
  margin-left: 20px;
  border-radius: 5px;
}
.signBtn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  color: #bbb;
  display: block;
  margin: 0 0 0 auto;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #aaa;
}
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

.taskList {
  width: 90%;
  margin: auto;
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}

.listItem {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  padding-bottom: 5px;
}

.listItem span{
  color: #999;
  font-size: 20px;
  font-family: -apple-system, 'BlinkMacSystemFont',  Sans-Serif;
}

.taskIcon {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  color: #bbb;
  margin-right: 20px;
}

.cursor {
  cursor: pointer;
}

.details h2 {
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  margin: 18px;
  font-family: -apple-system, 'BlinkMacSystemFont',  Sans-Serif;
}

.details h3{
  color: whitesmoke;
  text-align: center;
  font-family: -apple-system, 'BlinkMacSystemFont',  Sans-Serif;
  margin: 30px;
  font-weight: 300;
}

.details p{
  color: whitesmoke;
  font-weight: 300;
  font-size: 20px;
  font-family: -apple-system, 'BlinkMacSystemFont',  Sans-Serif;
}

.taskInput {
  width: 400px;
  min-width: 250px;
  padding: 5px 10px 5px 25px;
  margin-bottom: 10px;
  font-family: -apple-system, 'BlinkMacSystemFont',  Sans-Serif;
  font-size: 20px;
  color: whitesmoke;
  background-color: #333;
  border: 0.3px solid #444;
  outline: none;
  border-radius: 10px;
}

.switch {
  display: block;
  text-align: center;
}

.header h1 {
  color: whitesmoke;
  font-weight: 300;
  text-align: center;
  margin: 0 0 10px 0;
  font-family: -apple-system, 'BlinkMacSystemFont',  Sans-Serif;
}

.header h3 {
  color: whitesmoke;
  font-size: 18px;
  margin: 10px;
  font-family: -apple-system, 'BlinkMacSystemFont',  Sans-Serif;
  font-weight: 200;
}


h1{
  font-weight: normal;
  text-align: center;
  margin: 30px 0px 20px 0px;
  font-family: -apple-system, 'BlinkMacSystemFont',  Sans-Serif;
}

span{
  font-size: 15px;
  font-family: -apple-system, 'BlinkMacSystemFont',  Sans-Serif;
}

.containerLogin {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appLogin{
  width: 25%;
  min-width: 350px;
  height: 450px;
  padding: 30px;
  border-radius: 5px;
}

.inputLog{
  width: 85%;
  margin: 20px;
  font-family: -apple-system, 'BlinkMacSystemFont',  Sans-Serif;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #000;
  font-size: 1.4rem;
}

.switch{
  margin: 20px;
  display: block;
  text-align: center;
}

.switchText{
  display: block;
  text-align: center;
}